<div id="SMsidenav" class="sidenav">
    <a href="https://www.facebook.com/" id="F">
        <table class="table-sidenav" style="width:100%">
            <tr>
                <th style="width:90%">Facebook</th>
                <th style="width:10%"><i class="fa fa-facebook"></i></th>
            </tr>
        </table>
    </a>
    <a href="https://twitter.com/" id="T">
        <table class="table-sidenav" style="width:100%">
            <tr>
                <th style="width:90%">Twitter</th>
                <th style="width:10%"><i class="fa fa-twitter"></i></th> 
            </tr>
        </table>
    </a>
    <a href="https://www.linkedin.com/" id="L">
        <table class="table-sidenav" style="width:100%">
            <tr>
                <th style="width:90%">LinkedIn</th>
                <th style="width:10%"><i class="fa fa-linkedin"></i></th>
            </tr>
        </table>
    </a>
    <a href="https://www.xing.com/" id="X">
        <table class="table-sidenav" style="width:100%">
            <tr>
                <th style="width:90%">Xing</th>
                <th style="width:10%"><i class="fa fa-xing"></i></th> 
            </tr>
        </table>
    </a>
</div>