/* Style Sheet for Database*/

input, label {
    display: block;
}

.left {
    float:left; 
    margin-right:4%; 
    margin-top:10px;
    width: 48%;
}
.right {
    float:left; 
    margin-top:10px;
    width: 48%;
}

#submitProject {
    background-color: rgba(26, 26, 26, 0.8);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#submitProject:hover {
    transition: 1.0s;
    background-color: orange;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media (max-width: 700px) {
    .left, .right {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }
}


/* START: Project DB-Table */

#projects {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-family: Arial;
    text-decoration: none;
    overflow: auto;
}

.listing {
    cursor: pointer;
}

#projects th, #projects td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#projects tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#projects tr.header, #projects tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

/*END: Project DB Table*/