<html>
    <head>

        <title>Project Database Backend</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="/style/style-all.css"></link>

        <link rel="stylesheet" href="/style/style-db.css"></link>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/scripts/java-all.js">
        </script>

        <script type="text/javascript" src="/scripts/java-db.js">
        </script>

        <script type="text/javascript" src="/scripts/util.js">
        </script>
        
    </head>

    <body>

        <!-- Header same on every page -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>ARCSolutions</h1>
                <p>your office partner</p>
            </div>
        </div>

        <div class="navbar" id="navbar1">
            <div class="container">
                <a href="javascript:void(0);" id="menu">Menu</a>
                <a class="active" href="https://arcsolutions.mybluemix.net/aboutus">About Us</a>
                <a href="https://arcsolutions.mybluemix.net/references">Our Customers</a>
                <a href="https://arcsolutions.mybluemix.net/process">A Project Process</a>
                <a href="https://arcsolutions.mybluemix.net/convinced">Become a Customer</a>
                <a href="javascript:void(0);" class="icon" id="iSmall" onclick="respNavbar()">&#9776;</a>
            </div>
        </div>

        <!-- End of Header -->

        <!-- Start of Sidenav Social Media -->

        <div id="SMsidenav" class="sidenav">
            <a href="https://www.facebook.com/" id="F">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Facebook</th>
                        <th style="width:10%"><i class="fa fa-facebook"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://twitter.com/" id="T">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Twitter</th>
                        <th style="width:10%"><i class="fa fa-twitter"></i></th> 
                    </tr>
                </table>
            </a>
            <a href="https://www.linkedin.com/" id="L">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">LinkedIn</th>
                        <th style="width:10%"><i class="fa fa-linkedin"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://www.xing.com/" id="X">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Xing</th>
                        <th style="width:10%"><i class="fa fa-xing"></i></th> 
                    </tr>
                </table>
            </a>
        </div>

        <!-- End of Sidenav Social Media -->


        <!-- Start of Scroll Up Button -->

        <button onclick="scrollToTop()" id="ScrollUpButton" title="Go to top">&#x25B2;</button>

        <!-- End of Scroll Up Button -->


        <!-- Start of Explanation -->

        <div class="container text-center" id="firstDiv">
            <div>
                <h1>Welcome <%=u%></h1>
            </div>
            <div>
                <p>Here you can add new projects to our database or edit the existing database of projects.</p>
            </div>
        </div>
        
        <!-- End of Explanation -->
        

        <hr>


        <!-- Start of Input form for Database -->

        <div class="container">
            <div>
                <h1 class="text-center">Add a new project to the Database</h1>
            </div>
            <div id="inputForm">
                <fieldset>
                    <legend>Project Information</legend>
                    <div class="left">
                        <label for="fname">Name of the project</label>
                        <input type="text" id="input-p_name" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Category of the project</label>
                        <input type="text" id="input-p_category" placeholder="...">
                    </div>
                    <div class="left">
                        <label for="fname">Start-date of the project</label>
                        <input type="text" id="input-p_start" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">End-date of the project</label>
                        <input type="text" id="input-p_end" placeholder="Fill in '(ongoing)' if the project is not finished yet.">
                    </div>
                    <div>
                        <label for="fname">Project description</label>
                        <textarea type="text" id="input-p_desc" placeholder="Which expectations, plan, how many people where working together, ... (interesting details)" style="height:200px"></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Customer Information</legend>
                    <div class="left">
                        <label for="fname">Name of the customer</label>
                        <input type="text" id="input-c_name" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Customer's industry</label>
                        <input type="text" id="input-c_industry" placeholder="...">
                    </div>
                    <div class="left">
                        <label for="fname">Customer: adress line 1</label>
                        <input type="text" id="input-c_adr1" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Customer: adress line 2</label>
                        <input type="text" id="input-c_adr2" placeholder="...">
                    </div>
                    <div class="left">
                        <label for="fname">Customer: city</label>
                        <input type="text" id="input-c_city" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Customer: zip-code</label>
                        <input type="text" id="input-c_zip" placeholder="...">
                    </div>
                    <div class="left">
                        <label for="fname">Customer: state</label>
                        <input type="text" id="input-c_state" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Customer: country</label>
                        <input type="text" id="input-c_country" placeholder="...">
                    </div>
                    <div class="left">
                        <label for="fname">Customer: latitude (<a target="_blank" href="https://www.google.ca/maps/">Google for it!</a>)</label>
                        <input type="text" id="input-c_lat" placeholder="...">
                    </div>
                    <div class="right">
                        <label for="fname">Customer: longitude</label>
                        <input type="text" id="input-c_lng" placeholder="...">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Information about used Programs for this project</legend>
                    <div class="left">
                        <label for="fname">All used programs</label>
                        <input type="text" id="input-u_all" placeholder="List separated by ',' !">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Information about Customer Satisfaction</legend>
                    <div class="left">
                        <label for="fname">Overall satisfaction of customer</label>
                        <input type="text" id="input-s_stars" placeholder="Value in percent (0 for low to 100 for high)">
                    </div>
                    <div class="right">
                        <label for="fname">Comments the customer made</label>
                        <input type="text" id="input-s_comments" placeholder="...">
                    </div>
                </fieldset>
                <button id="submitProject" onclick="newproject()">Add this project to the database</button>
            </div>
        </div>

        <!-- End of Input form for Database -->        

        <hr>


        <!-- Start of Database -->

        <div class="container text-center" id="firstDiv">
            <div>
                <h1>Database</h1>
            </div>
            <div>
                <p>Database publication.</p>
            </div>
        </div>

        <!-- End of Database -->


    </body>
</html>