<html>
    <head>

        <title>Project Database Backend</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="/style/style-all.css"></link>

        <link rel="stylesheet" href="/style/style-db.css"></link>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/scripts/java-all.js">
        </script>

        <script type="text/javascript" src="/scripts/java-db.js">
        </script>
        
    </head>

    <body>

        <!-- Header same on every page -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>ARCSolutions</h1>
                <p>your office partner</p>
            </div>
        </div>

        <div class="navbar" id="navbar1">
            <div class="container">
                <a href="javascript:void(0);" id="menu">Menu</a>
                <a class="active" href="https://arcsapp.mybluemix.net/aboutus">About Us</a>
                <a href="https://arcsapp.mybluemix.net/references">Our Customers</a>
                <a href="https://arcsapp.mybluemix.net/process">A Project Process</a>
                <a href="https://arcsapp.mybluemix.net/convinced">Become a Customer</a>
                <a href="javascript:void(0);" class="icon" id="iSmall" onclick="respNavbar()">&#9776;</a>
            </div>
        </div>

        <!-- End of Header -->

        <!-- Start of Sidenav Social Media -->

        <div id="SMsidenav" class="sidenav">
            <a href="https://www.facebook.com/" id="F">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Facebook</th>
                        <th style="width:10%"><i class="fa fa-facebook"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://twitter.com/" id="T">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Twitter</th>
                        <th style="width:10%"><i class="fa fa-twitter"></i></th> 
                    </tr>
                </table>
            </a>
            <a href="https://www.linkedin.com/" id="L">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">LinkedIn</th>
                        <th style="width:10%"><i class="fa fa-linkedin"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://www.xing.com/" id="X">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Xing</th>
                        <th style="width:10%"><i class="fa fa-xing"></i></th> 
                    </tr>
                </table>
            </a>
        </div>

        <!-- End of Sidenav Social Media -->


        <!-- Start of Scroll Up Button -->

        <button onclick="scrollToTop()" id="ScrollUpButton" title="Go to top">&#x25B2;</button>

        <!-- End of Scroll Up Button -->


        <!-- Start of Explanation -->

        <div class="container text-center" id="firstDiv">
            <div>
                <h1>Database</h1>
            </div>
            <div>
                <button>Add a new project</button>
            </div>
        </div>
        
        <!-- End of Explanation -->


        <hr>


        <!-- Start of Database -->

        <!-- End of Database -->


    </body>
</html>